img#pilt1{
    border: 2px outset yellowgreen;
    border-radius: 330px;
    width: 25%;
    padding: 2px;
}
img#pilt2{
    border: 2px outset yellowgreen;
    padding: 2px;
    width: 35%;
    height: 40%;
    backface-visibility: 20%;

}

h1{
    font-family: Georgia, 'Times New Roman', Times, serif;
    letter-spacing: 2px;
    font-variant: small-caps;
    color: DarkSlateGray;
    left: 20%;
    margin: auto;
}
body{
    font-family: Georgia, 'Times New Roman', Times, serif;
    letter-spacing: 2px;
    font-variant: small-caps;
    color: DarkSlateGray;
    text-align: center ;
    margin: auto;
}
ul{
    list-style-type: square;
    margin-left: 35%;
    border: 2pt double teal;
    text-align: left;
    width: 25%;
}

#issues1{ font-family: Georgia, 'Times New Roman', Times, sans-serif;
    letter-spacing: 2px;

    color: DarkSlateGray;
    font-variant: unicase;

    text-align: left;
    margin-left: 10%;

}