img{
    border: 2px dotted yellowgreen;
    border-radius: 360px;
    width: 25%;
    padding: 1px;
}
h1{
    font-family: Georgia, 'Times New Roman', Times, serif;
    letter-spacing: 2px;
    font-variant: small-caps;
    color: MediumTurquoise;
    text-align: center;
}
body{
    font-family: Georgia, 'Times New Roman', Times, serif;
    letter-spacing: 2px;
    font-variant: small-caps;
    color: #48D1CC;
    text-align: center ;
}
ul{
    list-style-type: square;
    margin-left: 10px;
    border: 1pt dotted teal;
    width: 10%;
}